* {
  box-sizing: border-box;
}

body, ul, li {
  margin: 0;
  padding: 0;
}

ul.chat-users-wrapper {
  list-style: none;
}

.chat-users-wrapper {
  height: 250px;
  width: 360px;
  overflow-y: scroll;
  border: 1px solid #F4F4F4;
}

.chat-user-wrapper {
  padding: 10px;
  border-bottom: 1px solid #F4F4F4;
  min-height: 75px;
  display: flex; /* avatarとmain（name,time,message）を並べる */
  align-items: center;
}

.chat-user-wrapper.is-active { /* .chat-user-wrapperの追加定義を.is-activeクラスで定義 */
  background-color: #F4F4F4;
}

.chat-user-avatar {
  margin-right: 15px;
  display: flex;
  align-items: center; /* 垂直方向の中心に位置合わせ */
}

.chat-user-avatar img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #F4F4F4;
}

.last-chat-time, .last-chat-message {
  font-size: 0.9em;
  color: #9E9F9F;
  white-space: nowrap; /* テキストを折り返さず１行で表示 */
  overflow: hidden;    /* テキストがはみ出した部分を隠す */
  text-overflow: ellipsis; /* テキストを省略表示... */
}

.last-chat-message{
  max-width: 100%; /* 親要素(chat-user-main)のwidthと同じになる */
}

.chat-user-main{
  display: flex;  /* flexボックスにして上下にcolumnで並べる */
  flex-direction: column;
  align-content: center;
  width: calc(100% - 65px); /* 親クラス(chat-user-wrapper)のwidth(323px)を100%として323px-65px=258px */
}

.chat-user-main-upper{
  display: flex; /* 名前と時間を横に並べる */
  justify-content: space-between; /* 名前と時間を左側、右側に配置 */
}
